.Main {
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background: url("../../assets/images/car-background.png") no-repeat center center; */
    background-image: url("../../assets/images/car-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}